*{
    padding: 0;
    margin: 0;
}

// Dispositivos Celular oinferior a 768px

#grid__principal{
    background-color:rgba(255, 0, 0, 0.527);
    display: grid;
    overflow: hidden;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

.principal{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.t-center{
    text-align: center;
}

.principal__article_div{
    margin: 5px;
    border: 1px solid black ;

    h2{
        width: 340px;
    }
}

.footer__div{
    display: flex;
    flex-direction: column;
    align-items: center;

    li{
        list-style: none;
    }
    }
    

// Dispositivos Tablets o superior a 768px

@media screen and (min-width: 768px) {

    #grid__principal{
        background-color:rgba(209, 209, 209, 0.781);
        overflow: auto;
        grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer ';
    }

.principal__section__article_div{
        font-size: 200%;
        margin: 100px;
    }

.principal__article{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}








}